In [4]:
#without return with parameter
def mul(x,y):
    print(x*y)
    
mul(9,8)

72

In [16]:
#with return with parameter
def sum1(p,q):
    return p+q
print(sum1(7,8))

15

In [7]:
#without return without parameter
z=sum(12,45)
print(z)

540

In [17]:
#without return with parameters

a=int(input("enter a number"))
b=int(input("Enter number"))

mul(a,b)

print(sum1(a,b))

enter a number 5
Enter number 6

30
11

In [ ]:
write a function for following and call it:
               1. to calculate area of square
                2to calculate area of rectangle
                to calculate simple interest
                to display table of a given number

In [18]:
def areasquare(a):
    print(a*a)
areasquare(5)

25

In [19]:
def areaofsquare(a):
    return a*a
areaofsquare(6)

36

In [20]:
z=areaofsquare(9)
print(z)

81

In [22]:
a=int(input("enter the side"))
areaofsquare(a)

enter the side 6

36

In [23]:
def areaofrect(l,b):
    print(l*b)
areaofrect(5,6)

30

In [25]:
def areaofrect(l,b):
    return l*b
areaofrect(7,6)

42

In [26]:
z=areaofrect(6,9)
print(z)

54

In [27]:
a=int(input("enter the length"))
b=int(input("enter the breadth"))
areaofrect(a,b)

enter the length 9
enter the breadth 8

72

In [28]:
def simpleinterest(p,n,r):
    print((p*n*r)/100)
simpleinterest(10000,2,10)

2000.0

In [29]:
def simpleinterest(p,n,r):
    return (p*n*r)/100
simpleinterest(20000,2,10)

4000.0

In [30]:
z=simpleinterest(40000,2,10)
print(z)

8000.0

In [32]:
#without return without parameter
p=int(input("enter the principal"))
n=int(input("enter the period"))
r=int(input("enter the rate"))
simpleinterest(p,n,r)

enter the principal 80000
enter the period 2
enter the rate 10

16000.0

In [35]:
#to display table of a given number
def printtable(a):
    for i in range(1,11):
        print(i*a)
printtable(5)

5
10
15
20
25
30
35
40
45
50

In [66]:
 a=int(input("enter the number"))
def printtable1(i):
   
    return i*a

enter the number 7

In [67]:
for i in range(1,11):
    print(printtable1(i))

7
14
21
28
35
42
49
56
63
70

In [48]:
def area1():
     b=int(input("enter the number"))
     print(b*b)
area1()

enter the number 6

36

In [51]:
def area1():
     b=int(input("enter the number"))
     return b*b
area1()

enter the number 9

81

In [52]:
def area1(side):
    print(side*side)
area1(8)

64

In [53]:
def area4(side):
    return side*side
area4(8)

64

In [54]:
s=area4(8)
print(s)

64

In [55]:
a=int(input("enter the side"))
print(area4(a))

enter the side 5

25

In [3]:
x=int(input("enter number 1"))
y=int(input("enter number 2"))
while x>0 and y>0:
    x=int(input("enter number 1"))
    y=int(input("enter number 2"))
    print(f'addition of {x} and {y} is',(x+y))

enter number 1 5
enter number 2 5
enter number 1 4
enter number 2 4

addition of 4 and 4 is 8

enter number 1 f

ValueError: invalid literal for int() with base 10: 'f'

In [4]:
class first:
    def __init__(self):
        print("This is my first class")

In [7]:
class products:
    total=0
    def __init__(self,pnm,price):
        self.pnm=pnm
        self.price=price
        products.total+=self.price
    def bill(self):
        print("Total bill=",products.total)

In [8]:
p1=products("Milk",80)

In [9]:
p2=products("Bread",50)
p3=products("Apple",250)

In [12]:
p3.bill()

Total bill= 380

In [13]:
import time
class Container:
    @staticmethod
    def get_current_time():
        return time.strftime('%H:%M:%S',time.localtime())

In [14]:
Container.get_current_time()

'10:11:37'

In [29]:
class Product:
    def __init__(self,name,price):
        self.name=name
        self.price=price
    def __str__(self):
        return f"Product(name={self.name},price={self.price}) # user friendly"
    def __repr__(self):
        return f"Product('{self.name}',{self.price})"

In [30]:
product=Product('coffee',5.99)

In [31]:
print(product)

Product(name=coffee,price=5.99) # user friendly

In [32]:
print(repr(product))

Product('coffee',5.99)

In [34]:
class vector3:
    def __init__(self, *components):
        self.components=components
    def __str__(self):
        return f'{self.components}'
    def __len__(self):
        return len(self.components)

In [35]:
v=vector3(1,6,1,4,5)

In [36]:
print(v)

(1, 6, 1, 4, 5)

In [37]:
print(len(v))

5

In [39]:
def mysum(*num):
    s=0
    for n in num:
        s=s+n
    return s

In [40]:
print(mysum(1,2,3))

6

In [51]:
class Item:
    def __init__(self,name,value):
        self.name=name
        self.value=value

    def __eq__(self,other):
        return self.value == other.value

    def __ne__(self, other):
        return self.value != other.value

    def __lt__(self,other):
        return self.value < other.value

    def __le__(self,other):
        return self.value <= other.value

    def __ge__(self,other):
        return self.value >= other.value

In [52]:
item1=Item('Apple',10)
item2=Item('Banana',20)

In [53]:
print(item1 == item2)
print(item1 != item2)
print(item1 < item2)
print(item1 <= item2)
print(item1>item2)
print(item1 >= item2)

False
True
True
True
False
False

In [4]:
x=float(input('enter distance in km'))
c=x*1000
b=int(c//1000)
f=int(c%1000)
c=x%10
print("The distance is",b,"km and",f," meters")

enter distance in km 25.65

The distance is 25 km and 650  meters

In [8]:
d1=float(input("Enter distance in km"))
m=d1*1000
km=m//1000
m1=m%1000
print("distance is ",km,"km and ",m1, "m")

Enter distance in km 60.5

distance is  60.0 km and  500.0 m

In [7]:
d1=float(input("Enter distance in km"))
a=d1*10
c=int(a/10)
b=int(a%10)
print("distance is ", c, "km and ",b*100, "m")

Enter distance in km 60.5

distance is  60 km and  500 m

In [10]:
class distance:
    def __init__(self, km=0):
        self.km=km
    def __add__(self,other):
        return distance(self.km + other.km)
    def calc(self):
        a=self.km*10
        c=int(a/10)
        b=int(a%10)
        print("Distance is", c,"km and ",b*100, "m")

In [13]:
d1=distance(50.0)

In [ ]:
class HoursToDaysConverter:
    def __init__(self,hours):
        self.hours = hours
    def convert_to_days(self):
        days = self.hours / 24
        return days