In [1]:
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
i=1
while i>0:
    i=int(input("enter number"))
    print(i)

enter number 5

5

enter number 5

5

enter number -1

-1

In [3]:
i=1
j=1
while j<30:

    print(j)
    j=j+i
    i+=1

1
2
4
7
11
16
22
29

In [4]:
x=1
while x**2<100:
    y=x**2
    print("x=",x," y=",y)
    x+=3

x= 1  y= 1
x= 4  y= 16
x= 7  y= 49

In [17]:
x,y=1,1
while x>0 and y>0:
    x=int(input("enter number 1"))
    y=int(input("enter number 2"))
    if x!=0 and y!=0:
        print(x+y)
    else:
        break

enter number 1 5
enter number 2 8

13

enter number 1 1
enter number 2 2

3

enter number 1 0
enter number 2 2

In [24]:
class first:
    def __init__(self):
        print("This is my first class")

In [25]:
f=first()

This is my first class

In [27]:
class items:
    def __init__(self,nm,price):
        self.nm=nm
        self.price=price
        print("item nm=",self.nm,"item price =",self.price)
    def disp(self):
        print("item nm=",self.nm,"item price=",self.price)

In [28]:
t1=items("mouse",400)

item nm= mouse item price = 400

In [29]:
t1.disp()

item nm= mouse item price= 400

In [43]:
class items:
    def __init__(self,nm,price):
        self.nm=nm
        self.price=price
        print("item nm=",self.nm,"item price begore gst=",self.price)
    def disp(self):
        print("item nm=",self.nm,"item price after gst=",self.price*0.18+self.price)
    def gst(self):
        print("price after gst is=",self.price+.18*self.price)

In [37]:
t1=items("laptop",1000)

item nm= laptop item price begore gst= 1000

In [38]:
t1.disp()

item nm= laptop item price after gst= 1180.0

In [39]:
t2=items("mouse",200)

item nm= mouse item price begore gst= 200

In [40]:
t2.disp()

item nm= mouse item price after gst= 236.0

In [45]:
t3=items("jjjj",2000)

item nm= jjjj item price begore gst= 2000

In [46]:
t3.gst()

price after gst is= 2360.0